<div class="auth-wrapper">
    <form [formGroup] ="form.inputData" (ngSubmit)="addEmployee()">
        <h3>Add Employee</h3>
        <div class="form-group">
            <label>Title : </label>
            <input type="text" class="form-control" formControlName="title" name="title" id="title" required>
            <span style="color: red;" *ngIf="title && title.touched && title.invalid">
                Masukkan Title Min 5 Karakter</span>
        </div>
        <div class="form-group">
            <label>First Name : </label>
            <input type="text" class="form-control" formControlName="firstname" name="firstname" id="firstname" required>
            <span style="color: red;" *ngIf="firstName && firstName.touched && firstName.invalid">
                Masukkan First Name Min 3 Karakter</span>
        </div>
        <div class="form-group">
            <label>Last Name : </label>
            <input type="text" class="form-control" formControlName="lastname" name="lastname" id="lastname" required>
            <span style="color: red;" *ngIf="lastName && lastName.touched && lastName.invalid">
                Masukkan Last Name Min 3 Karakter</span>
        </div>
        <div class="form-group">
            <label>Email : </label>
            <input type="text" class="form-control" formControlName="email" name="email" id="email">
            <span style="color: red;" *ngIf="email && email.touched && email.invalid">
                Masukkan dengan format email</span>
        </div>
        <div class="form-group">
            <label>Role : </label>
            <input type="text" class="form-control" formControlName="role" name="role" id="role">
            <span style="color: red;" *ngIf="role && role.touched && role.invalid">
                Pilih Role Yang Sesuai</span>
        </div>
        <div class="form-group">
            <label>Password : </label>
            <input type="password" class="form-control" formControlName="password" name="password" id="password">
            <span style="color: red;" *ngIf="password && password.touched && password.invalid">
                Masukkan Password Minimal 5 Karakter</span>
        </div>
        <div class="form-group">
            <label>Confirm Password : </label>
            <input type="password" class="form-control" formControlName="confirmpassword" name="confirmpassword" id="confirmpassword">
            <span style="color: red;" *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.invalid">
                Confirm Password Tidak Sesuai dengan Password</span>
        </div>
        
        <div class="error-actions">
            <a routerLink="/home" class="btn btn-danger btn-log mx-2">
                Go Back To Home
            </a>
            <button type="submit" class="btn btn-primary">Add Employee</button>
        </div>
        
    </form>
</div>