<div class="col-md-12">
    <div class="error-template">
        <h3>Now, You can see me</h3>
        <h1>My Name Muchamad Muhadjir</h1>
        <div class="error-details mb-3">
            I am participant at Bootcamp Hacktiv8 OCBC NISP NEON.
            <br>
            I am form Surabaya.
        </div>
        <h3>Quotes for TODAY</h3>
        <p>
            You will FAIL, 
            That's not IF,
            It's when. 
        </p>
        <p>
            What comes up, MUST come down
            and what comes down, WILL comeback up.
        </p>
        <b>Nadiem Makarim</b>
        <br>
        <div class="error-actions">
            <a routerLink="/home" class="btn btn-danger btn-log">
                Go Back To Home
            </a>
        </div>
    </div>
</div>